.button {
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
  padding: none;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  width: 16rem;
  height: 3rem;

  &:disabled,
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}