.wrapper {
  width: 100%;
  height: 100vh;

  background: no-repeat url("src/assets/familyBg.svg");
  background-position: bottom 20px right 20px;
  background-size: 58%;

  position: relative;
  z-index: 0;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}

.image {
  position: absolute;
  bottom: 220px;
  right: 20px;
  z-index: -1;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.shareBtn {
  border-radius: 2rem;
  background-color: var(--pink);
  color: var(--white);
  box-sizing: border-box;

  .btnIcon {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }
}

.moreBtn {
  margin-left: 1rem;
  border-radius: 2rem;
  box-sizing: border-box;
  border: 2px solid var(--pink);
  color: var(--pink);

  .btnIcon {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}
