@mixin contentBlock {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin filledButton($bg, $color) {
  border-radius: 2rem;
  background-color: $bg;
  border: 2px solid $bg;
  color: $color;
  box-sizing: border-box;
}

@mixin outlineButton($color) {
  border-radius: 2rem;
  box-sizing: border-box;
  border: 2px solid $color;
  background-color: transparent;
  color: $color;
}

@mixin iconSize($size) {
  width: $size;
  height: $size;
}

@mixin centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
