@import "src/helpers/mixins";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &.showMenuState {
    background-color: var(--white);
    box-shadow: var(--basic-shadow);
  }
}

.headerLine {
  @include contentBlock;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  color: var(--font-primary);

  & > :nth-child(1) {
    order: 1;
  }
  & > :nth-child(2) {
    order: 3;
  }
  & > :nth-child(3) {
    order: 2;
  }
}

.logoLink {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.menu {
  @include contentBlock;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &.showMenu {
    height: auto;
    transition: all 0.3s ease-in-out;
  }
}

.link {
  box-sizing: border-box;
  padding: 1rem 1rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--font-secondary);

  &:hover {
    color: var(--pink);
  }
}
