.participant0 {
  grid-area: participant0;
}

.participant2 {
  grid-area: participant2;
}

.participant1 {
  grid-area: participant1;
}

.participant3 {
  grid-area: participant3;
}

.participant4 {
  grid-area: participant4;
}

.participant5 {
  grid-area: participant5;
}
