@import "src/helpers/mixins.scss";

.container {
  @include contentBlock;
  max-width: 1520px;
  overflow: visible;
  padding: 80px 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-columns: 1fr;
  gap: 3.5rem 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". title title"
    ". description description"
    ". participant0 participant1"
    "participant2 participant3 ."
    "participant4 participant5 .";

  background-image: url(src/assets/dogImg.svg), url(src/assets/catImg.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 32%, 32%;
}

.title {
  grid-area: title;
  margin-bottom: 0.5rem;
}

.description {
  grid-area: description;
  margin-bottom: 0.5rem;
}